.project-slider-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-slider{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.project-slider-side-image{
    display: flex;
    flex: 1;
    align-items: center;
    filter: brightness(50%);
}

.project-slider-side-image img{
    width: 100%;
    border-radius: 15px;
    -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}

.project-slider-center-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.project-slider-center-image img{
    width: 130%;
    border-radius: 15px;
    z-index: 3;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.project-slider-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.1;
}

.project-slider-button-container img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1050px) {

    .project-slider-side-image{
        flex: 0;
    }


    .project-slider-center-image{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;
    }
    
    .project-slider-center-image img{
        width: 100%;
        border-radius: 15px;
        z-index: 3;
    }
}