
.my-education-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  
  .my-education-container h4{
    color: #fafafa;
  }
  
  .my-education-container span{
    color: #fafafa;
  }
  
  .my-education-image-container img{
    width: 350px;
    border-radius: 20px;
    max-width: 100%;
  }
  
  .my-education-text-container{
    margin-bottom: 20px;
  }