.contact-container{
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-icon-container img{
    width: 30px;
    margin-right: 10px;
}

.contact-content-item{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-content-item h5{
    color: #fafafa;
    font-size: 20px;
    margin: 0px;
    margin-right: 5px;
}
.contact-content-item p{
    color: #fafafa;
}