

.my-sites-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
    background: linear-gradient(126deg, rgba(235,157,47,1) 9%, rgba(51,51,51,1) 48%);
  }
  
  .my-sites-main-container h3, .my-sites-main-container p{
    color: #fafafa;
  }
  
  .my-sites-heading-container{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .my-sites-site-container{
    display: flex;
    margin-bottom: 6rem;
    flex-direction: row;
    justify-content: center;
  }
  
  .my-sites-sites{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .my-sites-site-description{
    width: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .my-sites-site-description p{
    margin-bottom: 1rem;
  }
  
  .my-sites-site-image-container{
    width: 700px;
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    display: block;
    height: auto;
  }
  
  .my-sites-site-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
  }
  
  .my-sites-site-image-slide{
    width: 500px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .my-sites-site-image-slide img{
    width: 100%;
    border-radius: 20px;
  }
  
  .my-sites-hover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .my-sites-hover-text h4{
    background-color: rgb(200, 170, 3);
    color: #fafafa;
    padding: 5px 15px;
  }
  
  .my-sites-site-image-container:hover img {
    opacity: 0.3;
  }
  
  .my-sites-site-image-container:hover .my-sites-hover-text{
    opacity: 1;
  }
  
  .my-sites-ls-container{
    display: flex;
    justify-content: center;
  }
  
  .my-sites-ls-images{
    margin-right: 1rem;
  }

  .my-sites-slideshow-container{
    position: fixed;
    background-color: rgba(51,51,51,0.8);
    width: 100%;
    height: 100%;
    top: 0px;
  }

  .my-sites-slideshow-inner-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .my-sites-button-container{
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-sites-button-container img{
    width: 40px;
    cursor: pointer;
  }



  .my-sites-slideshow-image-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .my-sites-slideshow-image-container img{
    width: 100%;
  }

  .my-sites-slideshow-close-container{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  .my-sites-slideshow-close-container img{
    width: 40px;
  }

  .my-sites-github-link a img{
    width: 40px;
  }


  

  @media only screen and (max-width: 900px) {
    .my-sites-site-container{
      display: flex;
      margin-bottom: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .my-sites-site-image-container{
      width: 100%;
      margin-bottom: 1rem;
      position: relative;
      background-color: #fff;
      border-radius: 20px;
      padding: 0;
      cursor: pointer;
      display: block;
      height: auto;
    }

    .my-sites-sites{
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .my-sites-site-description{
      width: 100%;
      padding-left: 0rem;
      padding-right: 0rem;
    }


    .my-sites-slideshow-inner-container{
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .my-sites-slideshow-close-container{
      top: 10px;
      right: 20px;
    }

    .my-sites-slideshow-close-container img{
      width: 30px;
    }
    

  }

  @media only screen and (max-width: 500px) {
    .my-sites-sites{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }