.navbar-container{
    display: flex;
    position: absolute;
    padding-left: 7.8rem;
    padding-top: 2.25rem;
}

.navbar-container a{
    color: #272727;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.02em;
    opacity: 0.6;
    z-index: 4;
    cursor: pointer;
}

.navbar-current-tab{
    color: #F8CA13 !important;
    opacity: 1 !important;
}

.navbar-container .light-color{
    color:#fafafa;
}

@media screen and (max-width: 1050px) {
    .navbar-container{
        padding-left: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .navbar-container{
        padding-left: 2rem;
    }
}