
.App{
  background-color: #282c34;
}

h1{
  color: #fafafa;
  font-size: 40px;
  margin: 0px;
}

h3{
  color: #fafafa;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

p{
  margin: 0px;
  font-size: 18px;
}

.main-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 4rem;
  padding-top: 2rem;
}

.inner-container{
  width: 100%;
  
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, gold, darkorchid) 1;
  border-radius: 30px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.profile-img-container img{
  border-radius: 50%;
  width: 250px;
}

.header-container{
  /* padding: 2rem 4rem; */
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  margin-bottom: 1rem;
}

.header-top-row{
  display: flex;
  margin-bottom: 20px;
}

.header-text-container{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-container p{
  margin: 6px;
  max-width: 580px;
}

.header-git-history-image-container img{
  width: 400px;
  border-radius: 20px;
}

.header-my-links a{
  margin-right: 10px;
}

.header-my-links a img{
  width: 50px;
}



.my-sites-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-sites-main-container h3, .my-sites-main-container p{
  color: #fafafa;
}

.my-sites-heading-container{
  margin-bottom: 20px;
}

.my-sites-site-container{
  margin-bottom: 30px;
}

.my-sites-site-container a{
  font-size: 20px;
}

.my-sites-sites{
  display: flex;
  flex-direction: column;
}

.my-sites-site-description{
  width: 500px;
}

.my-sites-site-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.my-sites-site-image-container{
  margin-bottom: 10px;
}

.my-sites-site-image-container img{
  width: 500px;
  border-radius: 20px;
}

.my-gits-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-gits-container h3{
  color: #fafafa;
}

.my-gits-links a{
  
}

.my-gits-links a img{
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.my-gits-history-image-container img{
  width: 500px;
  border-radius: 20px;
}