
.App{
  background-color: #282c34;
}

h1{
  color: #fafafa;
  font-size: 40px;
  margin: 0px;
}

h3{
  color: #fafafa;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

h4{
  margin: 0px;
}

p{
  margin: 0px;
  font-size: 18px;
}

.main-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 4rem;
  padding-top: 2rem;
}

.inner-container{
  width: 100%;
  
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, gold, darkorchid) 1;
  border-radius: 30px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.profile-img-container img{
  border-radius: 50%;
  width: 250px;
}

.header-container{
  /* padding: 2rem 4rem; */
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  margin-bottom: 1rem;
}

.header-top-row{
  display: flex;
  margin-bottom: 20px;
}

.header-text-container{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-container p{
  margin: 6px;
  max-width: 580px;
}

.header-git-history-image-container img{
  width: 400px;
  border-radius: 20px;
}

.header-my-links a{
  margin-right: 10px;
}

.header-my-links a img{
  width: 50px;
}



.my-sites-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.my-sites-main-container h3, .my-sites-main-container p{
  color: #fafafa;
}

.my-sites-heading-container{
  margin-bottom: 20px;
}

.my-sites-site-container{
  margin-bottom: 30px;
}

.my-sites-sites{
  display: flex;
  flex-direction: column;
}

.my-sites-site-description{
  width: 500px;
}

.my-sites-site-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.my-sites-site-image-container{
  width: 500px;
  margin-bottom: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  display: block;
  height: auto;
}

.my-sites-site-image-container img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.my-sites-site-image-slide{
  width: 500px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.my-sites-site-image-slide img{
  width: 100%;
  border-radius: 20px;
}

.my-sites-hover-text{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.my-sites-hover-text h4{
  background-color: rgb(200, 170, 3);
  color: #fafafa;
  padding: 5px 15px;
}

.my-sites-site-image-container:hover img {
  opacity: 0.3;
}

.my-sites-site-image-container:hover .my-sites-hover-text{
  opacity: 1;
}

.my-gits-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-gits-container h3{
  color: #fafafa;
}

.my-gits-links a img{
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.my-gits-history-image-container img{
  width: 500px;
  border-radius: 20px;
}

.my-education-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.my-education-container h4{
  color: #fafafa;
}

.my-education-container span{
  color: #fafafa;
}

.my-education-image-container img{
  width: 500px;
  border-radius: 20px;
}

.my-education-text-container{
  margin-bottom: 20px;
}